.home {
    padding-top: 20px;

    .set-location {
        max-width: 500px;
        margin: auto;
    }

    .products {
        .tag-cloud {
            margin-top: 20px;
            span {
                display: inline-block;
                margin-right: 10px;
            }
        }    
    }

    .product-list {
        margin-top: 20px;

        .item {
            display: block;
        }
    }

    .search-result {
        margin-top: 20px;

        .result-count {
            margin: auto;
            text-align: center;
        }
    }
}