.home {
    padding-top: 20px;

    .set-location {
        max-width: 500px;
        margin: auto;
    }

    .product-list {
        margin-top: 20px;

        .item {
            display: block;
        }
    }

    .search-result {
        margin-top: 20px;
    }
}