.biz {
    padding-top: 40px;
    h1 {
        font-size: 1.5em;
    }

    i.fas {
        display: inline-block;
        width: 20px;
        margin-right: 20px;
        color: #555;
    }

    .tags {
        .badge {
            font-size: smaller;
            font-weight: normal;
            padding: 7px 10px;
            background-color: #f0f0f0;
            border: 1px solid #ddd;
            margin-top: 8px;
            margin-right: 10px;

            i.fas {
                margin-right: auto;
            }
            i.fas:hover {
                cursor: pointer;
                color: blue;
            }
        }

        .badge:hover {
            background-color: #e9e9f0;
        }
    }

    &.edit {
        max-width: 500px;
        margin: auto;

        .control-buttons {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
            margin-bottom: 20px;

            button {
                padding-left: 20px;
                padding-right: 20px;
                margin-left: 10px;
            }
        }

        .phone.edit {
            .form-check {
                padding-left: 40px;
                padding-top: 7px;
            }
        }
    }

    &.list {
        .heading {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
        }

        .card-header {
            .title {
                font-size: 1.1em;
                font-weight: 700;
            }

            .badge {
                margin-left: 10px;
            }

            button {
                display: inline-block;
                margin-left: 10px;
                font-size: small;
            }
        }        
    }

    &.view {
        span.info {
            display: block;
        }

        .contact-info {
            display: flex;
            justify-content: space-between;
        }

        .biz-tags {
            padding-bottom: 20px;
            display: flex;
            justify-content: flex-start;
            align-items: baseline;

            .heading {
                display: inline-block;
                margin-right: 20px;
                font-weight: bold;
                font-style: italic;
            }
        }

        .biz-inventory {
            padding-top: 20px;
            border-top: 1px solid #ccc;

            .heading {
                display: flex;
                align-items: baseline;    

                .title {
                    font-size: 1.2em;
                    font-weight: 700;
                }

                button {
                    margin-left: 10px;
                }
            }

            .inventory {
                .card {
                    &.in-stock {
                        background-color: #e0f0e0;
                        color: #337033;
                    }

                    &.out-of-stock {
                        background-color: #eee;
                        color: #703333;
                    }    

                    .card-header {
                        font-weight: 700;

                        i {
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }

                }
    
                .items {
                    .item {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .when {
                            font-size: smaller;
                            font-style: italic;
                        }
                    }
                }
            }    
        }
    }
}
