/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
  padding-top: 5rem;
}

div#root {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main.content {
  flex: 1 0 auto;
  padding-top: 5em;
}

.phoneNumber label {
  display: inline-block;
  margin-left: 10px;
}

div.divider {
  display: flex;
  align-items: center;
}

div.divider hr {
  width: 100%;
}

div.divider span {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  color: #999999;
  white-space: nowrap;
}

.name-value-pair span {
  display: inline-block;
}

.name-value-pair span.name {
  margin-right: 10px;
}